<div class="row mt-5 justify-content-center">
    <div class="col-10 col-md-10 col-lg-9 col-lg-5">
        <div class="row element-select">
            <div class="col-3">
                <img ng-src="//www.thecocktaildb.com/images/ingredients/{{$ctrl.drinks.ingredient}}-Medium.png" class="w-100">
            </div>
            <div class="col-8">
                <p class="mt-4">Your ingredient:</p><h5> {{ $ctrl.drinks.ingredient }} </h5>
            </div>
        </div>
    </div>

</div>

<div class="row mt-5 justify-content-center">
    <div class="col-10 col-md-10 col-lg-9 col-lg-5">
        <div class="row">
            <div class="col-4" ng-repeat="d in $ctrl.drinks.list.items">
                <div class="card mb-4 w-100">
                    <img ng-src="{{d.strDrinkThumb}}" class="card-img-top">
                    <div class="card-body text-center">
                        <h6>{{ d.strDrink }}</h6>
                        <!--<button type="button" class="btn btn-secondary mb-2" data-toggle="modal" data-target="#exampleModal">-->
                            <!--Show detail-->
                        <!--</button>-->
                        <button class="btn btn-primary mb-2"
                                ng-disabled="$ctrl.drinks.order.isLoading"
                                ng-click="$ctrl.drinks.order.addDrinkToOrder(d.idDrink)">

                            Take It!
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>