<div class="row">
    <div class="col-8 offset-2 mb-4">
        <h3 class="mt-5">Your Drinks</h3>
    </div>
</div>

<div class="row">
    <div class="col-8 offset-2">

        <div class="row mb-2 element-select" ng-repeat="od in $ctrl.orderDetails.data">
            <div class="col-2">
                <img ng-src="{{ od.drink_thumb }}" class="w-100">
            </div>
            <div class="col-8 mt-4">
                <h5> {{ od.drink_name }} </h5>
                <h6> {{ od.price }} chf </h6>
            </div>
        </div>


        <a ng-href="#!/ingredients" class="btn btn-secondary float-left mt-3">
            I want more!
        </a>

        <button type="submit" class="btn btn-primary float-right mt-3"
                ng-disabled="$ctrl.orderDetails.isLoading"
                ng-click="$ctrl.order.confirm.perform()">

            Complete order
            <span ng-hide="$ctrl.orderDetails.isLoading"> - {{ $ctrl.order.amount }} chf </span>
        </button>
    </div>
</div>